.cii{
    text-align: center;
    font-size: xx-large;
    font-style: italic;


}
.bii{
    text-shadow: 48cm 56cm;
    text-shadow: 29cqmax;
    text-shadow: color(srgb red green blue);
    color: blueviolet;

}